* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    font-size: 1.3em;
}

header {
    border-bottom: 2px solid #DEDEDE;
}

.header-list {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main,
.left-main {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.left-main {
    display: flex;
    flex-direction: column;
}

.left-main>h3 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 30px;
}

.left-main>p {
    margin-bottom: 10px;
}


.left-main>input {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 40%;
}

.middle-main {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    margin-left: 10%;
}

.right-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 5%;
}

#guest {
    width: 40px;
    border-radius: 6px;
    margin-bottom: 200px;
}

.counter-name {
    color: #F18DB9;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}

.room-rate {
    font-size: 16px;
}

.country-image {
    width: 250px;
}

.middle-main {
    display: flex;
    flex-direction: column;
}

#pool-img {
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#gabs-img {
    width: 100px;
    height: 100px;
}

.mdl-main-dscr {
    display: flex;
    flex-wrap: wrap;
}

.mdl-main-dscr-room {
    display: flex;
    flex-direction: column;
}

.dsply-right-main {
    margin: 10px;
}

.footer {
    display: flex;
}

#footer-para {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-items: center;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-list {
    margin-left: 30px;
    margin-bottom: 20px;
}